body {
background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(255,250,255,1)), color-stop(53%, rgba(255,250,255,1)), color-stop(73%, rgba(235,235,235,1)), color-stop(100%, rgba(222,222,222,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=1 );
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 20%;
  padding-top: 10%;
  font-size: 3em;
}

h1 span {
  color: #D1B606;
  font-weight: 100;
}

.about span, .list span, .false_footer span {
  color: #D1B606;
}

.wrapper {
  margin-left: 20%;
  width: 60%;
  padding-top: 1%;
}

@font-face {
 font-family: "Roboto-lightItalic";
 src: local('font/Roboto-LightItalic.ttf')
 format('truetype');
}


.info {
  font-family: "Roboto-LightItalic", sans-serif;
  src: local('font/Roboto-LightItalic')
  format('truetype');
  font-size: 2.5em;
}

.about {
  padding-top: 1%;
}

@font-face {
 font-family: "Roboto-Thin";
 src: local('font/Roboto-Thin.ttf')
 format('truetype');
}



.about2 {
  font-family: "Roboto-thin", sans-serif;
  src: local('font/Roboto-Thin.ttf')
  format('truetype');
  opacity: 0.6;
}

.list {
  font-family: "Roboto-thin", sans-serif;
  src: local('font/Roboto-Thin.ttf')
  format('truetype');
  line-height: 30px;
}

.false_footer {
  padding-top: 2%;
  text-align: center;
}

.text_opac {
  text-align: center;
}

.text_opac span {
  opacity: 0.6;
}

@font-face {
 font-family: "Roboto-Bold";
 src: local('font/Roboto-Bold.ttf')
 format('truetype');
}

.plateform {
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  src: local('font/Roboto-Bold.ttf')
  format('truetype');
  padding-top: 1%;
}
